body, div, p, h1, h2, h3, h4, ul, li, table
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	margin: 0 0px 0 0;
	padding: 0;
}

.masterPage
{
	margin: 10px auto 20px auto;
	width: 800px;
	border: 1px solid #331111;
	padding: 3px;
	padding-bottom: 5px;
	overflow: auto;
	font: 11px Verdana,Arial,Helvetica,sans-serif;
	background-color: #EEEEDD;
}

.mainMenu
{
	width: 170px;
	float: left;
	display: none;
}

.content
{
	width: 797px;
	overflow: auto;
	background-color: #FFFFEE;
	border: 1px solid #331111;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding-bottom: 5px;
}

.insideContent
{
	padding: 5px 5px 5px 5px;
}

.senderInfo
{
	width: 75px;
}

.header
{
	background-image: url(../images/logo/headerBack.jpg);
	padding: 5px 0px 5px 5px;
	margin-bottom: 10px;
	width: 798px;
}

.footer
{
	margin-top: 10px;
	padding-bottom: 2px;
	float: left;
	width: 800px;
	background-color: #feefd0;
	text-align: center;
	font: 7pt Verdana;
}

.dataImage
{
	cursor: pointer;
}

.dataImageCell
{
	height: 150px;
	width: 175px;
}

.dataItem
{
	float: left;
	margin: 5px 7px 3px 0px;
	text-align: center; /*background-color: White;*/
	border: 1px solid #BBBB88;
	font-size: 11px; /*color:#666633;*/
	font-weight: bold;
}

.sectionTitle
{
	font: italic small-caps bold 15px arial;
	color: Black;
	padding: 3px 0px 5px 0px;
}

#FooterBox
{
	color: #331111;
	font-size: 10px;
	text-decoration: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	line-height: 1.4;
}

#FooterBox a
{
	color: #664444;
	margin: 0px 10px;
	text-decoration: none;
}

#Copyright
{
	padding-top: 10px;
}

.chocolateFountainPackage
{
	border: 1px solid #BBBB88;
	margin-right: 5px;
	padding: 2px;
	width: 180px;
	float: left;
}

.chocolateFountainPackageRight
{
	margin-right: 0px;
	margin-bottom: 10px;
}

.chocolateFountainPackage .package
{
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}

.italic
{
	font-style: italic;
}

.bold
{
	font-weight: bold;
}

.fountainChocoChoice
{
	font-style: italic;
}

.ribbon_content .ribbon
{
	float: left;
	border: 1px solid #331111;
	margin-top: 5px;
}

.ribbon_content .left
{
	margin-right: 6px;
}

.welcome
{
	font: italic small-caps bold 12px arial;
}

.about
{
	width: 265px;
	border: 1px solid #BBBB88;
	float: left;
	padding-bottom: 5px;
}

.aboutLeft
{
	margin-right: 5px;
}

.about .title
{
	padding: 3px 0px 7px 5px;
	font-weight: bold;
}

.about .image
{
	float: left;
	padding: 3px 5px 0px 5px;
}

.about .text
{
	float: left;
	padding-right: 5px;
	width: 145px;
}

.about .textMiddle
{
	width: 140px;
}

.about .textRight
{
	width: 130px;
}

.aboutMiddle
{
	width: 255px;
}
.aboutRight
{
	width: 250px;
}

.historyPicExplanation
{
	width: 301px;
	font-style: italic;
}

#historyChronology
{
	float: left;
	border-right: solid 1px #BBBB88;
	padding-right: 5px;
	min-height:1275px;
}

.historyTitle
{
	font-weight: bold;
	cursor: pointer;
}
.historyTitle:hover
{
	text-decoration: underline;
}

.historyText
{
	margin-bottom: 10px;
	display: none;
}

#historyPicDiv
{
	float: left;
	padding-left: 10px;
}
#historyPicDiv .historyPic
{
	margin-bottom: 5px;
}

#productsPlaceHolder
{
	padding-left:5px;
}