.suckertreemenu
{
	float: left;
	margin-bottom: -3px;
}
.suckertreemenu ul
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.suckertreemenu ul li
{
	display: inline;
	float: left;
	position: relative;
}
.suckertreemenu ul li a
{
	border-left-width: 0;
	color: white;
	display: block;
	padding: 1px 8px;
	text-decoration: none;
	width: 70px;
}
.suckertreemenu ul li ul
{
	background-color: #F3F3F3;
	display: block;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	left: 0;
	position: absolute;
	top: 1em;
	visibility: hidden;
	white-space: nowrap;
}
.suckertreemenu ul li ul li
{
	display: list-item;
	float: none;
}
.suckertreemenu ul li ul li ul
{
	left: 159px;
	top: 0;
}
.suckertreemenu ul li ul li a
{
	border: 1px solid #CCCCCC;
	color: #663300;
	display: block;
	padding: 3px 5px;
	text-decoration: none;
	width: 130px;
}
.suckertreemenu .top a:hover
{
	background-color: transparent;
	color: #FFE222;
}
.suckertreemenu .sub a:hover
{
	background-color: #5C362F;
	color: white;
}
.suckertreemenu .mainfoldericon
{
}
.suckertreemenu .subfoldericon
{
}
* html p#iepara
{
	padding-top: 1em;
}
* html .suckertreemenu ul li
{
	float: left;
	height: 1%;
}
* html .suckertreemenu ul li a
{
	height: 1%;
}
